@tailwind base;
@tailwind components;
@tailwind utilities;
/*
.hiddenStyle {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}*/